# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db